     /* #container {
              position: relative; 
              height: 197px;

    }

    #textboxdisp {
              position: relative; 
              height: 197px;
    }
    #messagediv {
              position: relative; 
              height: 197px;
    }

   #movieDisplay {
              position: relative; 
              height: 197px;
 
    }
    #button{
              position: relative;
              top: 40px;
              left: 187px;
    }  */